pyzmq
coveralls
codecov
stix
git+https://github.com/MISP/PyMISP.git#egg=pymisp
requests-mock
pip
nose
jsonschema
plyara >= 2.0.2
requests>=2.32.0 # not directly required, pinned by Snyk to avoid a vulnerability
